button {
    background: transparent;
    font-size: 1rem;
}
ion-toolbar {
    display: flex;
    flex-direction: row;
}

p li {
    text-align: justify;
}
.text {
    margin-right: 2%;
    margin-left: 2%; 
}

h1{
    text-align: center;
    margin: 5%;
    margin-bottom: 7%;
}

h2 {
    text-align: center;
    margin: 5%;
    margin-bottom: 7%;
}
.fin {
    margin-top: 7%;
    font-size: 1.2 rem;
    font-weight: bold;
}