<ion-content fullscreen>

  <ion-header translucent>
    <ion-toolbar>
        <button (click)="backToHome()" class="back"> &#8592; Retour </button>
      <ion-title></ion-title>
    </ion-toolbar>
  </ion-header>

  <h1 *ngIf="settingService.language === 'Français'">Choisissez vos exercices : </h1>
  <h1 *ngIf="settingService.language === 'English'">Choose your exercises : </h1>
  <ion-list>

    <ion-item>
      <ion-label>
        <ion-label class="red">♥️</ion-label>
      </ion-label>
      <ion-select [(ngModel)]="exerciseCoeur" *ngIf="settingService.language === 'Français'">
        <ion-select-option *ngFor="let exercice of exercisesListFran" [value]="exercice" required>{{exercice.title}} </ion-select-option>
      </ion-select>
      <ion-select [(ngModel)]="exerciseCoeur" *ngIf="settingService.language === 'English'">
          <ion-select-option *ngFor="let exercice of exercisesListEng" [value]="exercice" required>{{exercice.title}} </ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label class="black">♣️</ion-label>
      <ion-select [(ngModel)]="exerciseTrelfe" *ngIf="settingService.language === 'Français'">
        <ion-select-option *ngFor="let exercice of exercisesListFran" [value]="exercice" required>{{exercice.title}}
        </ion-select-option>
      </ion-select>
      <ion-select [(ngModel)]="exerciseTrelfe" *ngIf="settingService.language === 'English'">
          <ion-select-option *ngFor="let exercice of exercisesListEng" [value]="exercice" required>{{exercice.title}} </ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label class="red">♦️</ion-label>
      <ion-select [(ngModel)]="exerciseCarreau" *ngIf="settingService.language === 'Français'">
        <ion-select-option *ngFor="let exercice of exercisesListFran" [value]="exercice" required>{{exercice.title}}
        </ion-select-option>
      </ion-select>
      <ion-select [(ngModel)]="exerciseCarreau" *ngIf="settingService.language === 'English'">
          <ion-select-option *ngFor="let exercice of exercisesListEng" [value]="exercice" required>{{exercice.title}} </ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label class="black">♠️</ion-label>
      <ion-select [(ngModel)]="exercisePique" *ngIf="settingService.language === 'Français'">
        <ion-select-option *ngFor="let exercice of exercisesListFran" [value]="exercice" required>{{exercice.title}}
        </ion-select-option>
      </ion-select>
      <ion-select [(ngModel)]="exercisePique" *ngIf="settingService.language === 'English'">
          <ion-select-option *ngFor="let exercice of exercisesListEng" [value]="exercice" required>{{exercice.title}} </ion-select-option>
      </ion-select>
    </ion-item>

  </ion-list>

  <div class="centerButton">
    <button *ngIf="settingService.language === 'Français'" type="submit" (click)="sendChooseExercises()" (click)='exercisesService.startTimer()' [routerLink]="['/slide-card']" class="next">Commencer</button>
    <button *ngIf="settingService.language === 'English'" type="submit" (click)="sendChooseExercises()" (click)='exercisesService.startTimer()' [routerLink]="['/slide-card']" class="next">Start</button>
  </div>

</ion-content>