<ion-content fullscreen>

  <img src="../../../assets/Logo.png " alt="logo de fitnessCard">

  <div class="centerButton">
      <button [routerLink]="['/choose-level']" *ngIf="settingService.language === 'Français'">Commencer</button>
      <button [routerLink]="['/choose-level']" *ngIf="settingService.language === 'English'">Start</button>
      <button [routerLink]="['/explication']">Explication</button>
  </div>

  <div class="drap">
    <div (click)="changeToFranch()" class="fr"></div>
    <div (click)="changeToEnglish()" class="en"></div>
  </div>

</ion-content>