ion-slide{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 5%;
}

.endButton {
    display: flex;
    justify-content: flex-end;
    align-self: flex-end;
}

.end{
    margin: 3%;
    border-radius: 50px;
    width: 30%;
    font-size: 2rem;
    color: white;
    background-color: red;
    padding: 5px;;
}
img {
    height: 400px;
}

h2 {
    text-align: center;
    margin: 5%;
    font-size : 2rem;
    color: goldenrod;
    font-weight: bold;
}

p {
    text-align: center;
    font-size : 1.5rem;
    color: black;
    font-weight: bold;
}