<ion-content fullscreen>

  <ion-header translucent>
    <ion-toolbar>
      <button (click)="backToHome()">
        <ion-icon name="arrow-round-back"></ion-icon>Retour
      </button>
    </ion-toolbar>
  </ion-header>

  <h1>Paramètres</h1>

  <ion-item>
    <ion-label>Multiplicateur temps</ion-label>
    <ion-select [(ngModel)]="multiplicatorTime">
      <ion-select-option [value]=1>1</ion-select-option>
      <ion-select-option [value]=2>2</ion-select-option>
      <ion-select-option [value]=3>3</ion-select-option>
      <ion-select-option [value]=4>4</ion-select-option>
      <ion-select-option [value]=5>5</ion-select-option>
      <ion-select-option [value]=6>6</ion-select-option>
      <ion-select-option [value]=7>7</ion-select-option>
      <ion-select-option [value]=8>8</ion-select-option>
      <ion-select-option [value]=9>9</ion-select-option>
      <ion-select-option [value]=10>10</ion-select-option>
      <ion-select-option [value]=11>11</ion-select-option>
      <ion-select-option [value]=12>12</ion-select-option>
      <ion-select-option [value]=13>13</ion-select-option>
      <ion-select-option [value]=14>14</ion-select-option>
      <ion-select-option [value]=15>15</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label>Multiplicateur de repétition</ion-label>
    <ion-select [(ngModel)]="multiplicatorRep">
      <ion-select-option [value]=1>1</ion-select-option>
      <ion-select-option [value]=2>2</ion-select-option>
      <ion-select-option [value]=3>3</ion-select-option>
      <ion-select-option [value]=4>4</ion-select-option>
      <ion-select-option [value]=5>5</ion-select-option>
      <ion-select-option [value]=6>6</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label>Langue</ion-label>
    <ion-select [(ngModel)]="chooseLangue">
      <ion-select-option *ngFor="let langue of tabLangue" [value]="langue">{{langue}}</ion-select-option>
    </ion-select>
  </ion-item>

  <div class="centerButton">
    <button class="valider" (click)="sendNewSettings()">Valider les changements</button>
  </div>

  <div class="centerButton">
    <button [routerLink]="['/lien']" class="link">Démonstrations des exercices</button>
  </div>

</ion-content>