<ion-content fullscreen>

  <ion-header translucent>
    <ion-toolbar>
      <button (click)="backToHome()">
        <ion-icon name="arrow-round-back"></ion-icon>Retour
      </button>
    </ion-toolbar>
  </ion-header>

  <h1>Paramètres</h1>

  <ion-item>
    <ion-label>Multiplicateur temps</ion-label>
    <ion-select [(ngModel)]="multiplicatorTime">
      <ion-select-option *ngFor="let nbTime of multiplicatorTimetab" [value]= nbTime >{{nbTime}}</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label>Multiplicateur de repétition</ion-label>
    <ion-select [(ngModel)]="multiplicatorRep">
      <ion-select-option *ngFor="let nbRep of multiplicatorRepTab" [value]= nbRep >{{nbRep}}</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label>Langue</ion-label>
    <ion-select [(ngModel)]="chooseLangue">
      <ion-select-option *ngFor="let langue of tabLangue" [value]="langue">{{langue}}</ion-select-option>
    </ion-select>
  </ion-item>

  <div class="centerButton">
    <button class="valider" (click)="sendNewSettings()">Valider les changements</button>
  </div>

  <div class="centerButton">
    <button [routerLink]="['/exercises-link']" class="link">Démonstrations des exercices</button>
  </div>

</ion-content> 